@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .background {
  width: 100%;
  height: 60%;
  display: flex;
  background: url(../img/background/wedding-photographer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 720px) {
  .wrapper .background {
    width: 100%;
    height: 40%;
  }
}

@media (max-width: 400px) {
  .wrapper .background {
    width: 100%;
    height: 20%;
  }
}

.wrapper .background .box__introduce {
  width: 250px;
  height: 200px;
  margin-left: calc(50% - 125px);
  margin-top: 150px;
  border: 1px solid white;
}

@media (max-width: 720px) {
  .wrapper .background .box__introduce {
    width: 180px;
    height: 120px;
    margin-left: calc(50% - 90px);
    margin-top: 90px;
  }
}

@media (max-width: 400px) {
  .wrapper .background .box__introduce {
    width: 110px;
    height: 60px;
    margin-left: calc(50% - 55px);
    margin-bottom: 100px;
    margin-top: 50px;
  }
}

.wrapper .background .box__introduce h1 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 5px;
  padding: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 720px) {
  .wrapper .background .box__introduce h1 {
    margin-top: 20px;
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .wrapper .background .box__introduce h1 {
    margin-top: 5px;
    font-size: 14px;
  }
}

.wrapper .background .box__introduce p {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 720px) {
  .wrapper .background .box__introduce p {
    display: none;
  }
}

@media (max-width: 400px) {
  .wrapper .background .box__introduce p {
    display: none;
  }
}

.wrapper .background .nav {
  width: auto;
  position: absolute;
  left: 42%;
  top: 58%;
  background-color: #b6acac;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Noto Sans JP", sans-serif;
}

@media (max-width: 720px) {
  .wrapper .background .nav {
    left: 33%;
    top: 38%;
  }
}

@media (max-width: 400px) {
  .wrapper .background .nav {
    top: 20%;
    left: 15%;
    margin-left: 5%;
  }
}

.wrapper .background .nav a {
  color: black;
  border-radius: 5px;
  padding: 15px;
  display: block;
  float: left;
}

.wrapper .background .nav a:hover {
  background-color: #32328b;
}

.wrapper .main {
  width: 100%;
  padding-top: 50px;
}

.wrapper .main .photo {
  background: url(../img/background/Altja_jõgi_Lahemaal.jpg);
}

.wrapper .main .photo1 {
  background: url(../img/background/andy_pariat_shillong_nature_photography_01.jpg);
}

.wrapper .main .photo2 {
  background: url(../img/background/David-Koester-Start-In-Die-Landschaftsfotografie-VII.jpg);
}

.wrapper .main .photo3 {
  background: url(../img/background/wedding-photographerbck.jpg);
}

.wrapper .main .photo4 {
  background: url(../img/background/nature-1.jpg);
}

.wrapper .main .fix {
  width: 85%;
  height: 500px;
  margin-left: 8%;
  margin-bottom: 3%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 720px) {
  .wrapper .main .fix {
    height: 300px;
  }
}

@media (max-width: 400px) {
  .wrapper .main .fix {
    height: 200px;
  }
}

.wrapper .footer {
  display: block;
  width: 100%;
  height: 700px;
}

.wrapper .footer h2 {
  text-align: center;
  font-size: 35px;
  text-transform: capitalize;
  padding: 30px;
}

.wrapper .footer p {
  font-size: 23px;
  max-width: 1000px;
  width: 100%;
  margin-left: calc(50% - 500px);
  align-items: center;
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper .footer form {
  display: block;
  width: 1000px;
  max-width: 1000px;
  height: 600px;
  margin-top: 20px;
  padding-top: 20px;
  margin-left: calc(50% - 500px);
}

.wrapper .footer form label {
  font-size: 23px;
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper .footer form .name,
.wrapper .footer form .email,
.wrapper .footer form .message {
  display: block;
  width: 1000px;
  height: 50px;
  margin-left: calc(50% - 500px);
  background-color: white;
  border: 1px solid gray;
}

.wrapper .footer form button {
  width: 1000px;
  height: 50px;
  margin-left: calc(50% - 500px);
  margin-top: 10px;
  background-color: gray;
  color: white;
  font-size: 23px;
  cursor: pointer;
}

.wrapper .footer form button:hover {
  background-color: #d8c4c4;
  color: black;
}
