.wrapper {
    width: 100%;
    height: 100%;
    // display: flex;
    .background {
        width: 100%;
        height: 60%;
        display: flex;
        background: url(../img/background/wedding-photographer.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // background-attachment: fixed;
        @media (max-width: $md) {
            width: 100%;
            height: 40%;
        }
        @media (max-width: $sm) {
            width: 100%;
            height: 20%;
        }
        .box__introduce {
            width: 250px;
            height: 200px;
            margin-left: calc(50% - 125px);
            margin-top: 150px;
            border: 1px solid white;
            @media (max-width: $md) {
                width: 180px;
                height: 120px;
                margin-left: calc(50% - 90px);
                margin-top: 90px;
            }
            @media (max-width: $sm) {
                width: 110px;
                height: 60px;
                margin-left: calc(50% - 55px);
                margin-bottom: 100px;
                margin-top: 50px;
            }
            h1 {
                font-size: 40px;
                color: white;
                text-transform: uppercase;
                text-align: center;
                margin-top: 50px;
                letter-spacing: 5px;
                padding: 10px;
                font-family: $font-Noto;
                @media (max-width: $md) {
                    margin-top: 20px;
                    font-size: 30px;
                }
                @media (max-width: $sm) {
                    margin-top: 5px;
                    font-size: 14px;
                }
            }
            p {
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-family: $font-Noto;
                @media (max-width: $md) {
                    display: none;
                }
                @media (max-width: $sm) {
                    display: none;
                }
            }
        }
        .nav {
            width: auto;
            position: absolute;
            left: 42%;
            top: 58%;
            background-color: rgb(182, 172, 172);
            text-decoration: none;
            border-radius: 4px;
            font-family: $font-Noto;
            @media (max-width: $md) {
                left: 33%;
                top: 38%;
            }
            @media (max-width: $sm) {
              top: 20%;
              left: 15%;
              margin-left: 5%;
            }
            a {
                color: black;
                border-radius: 5px;
                padding: 15px;
                display: block;
                float: left;
                &:hover {
                    background-color: rgb(50, 50, 139);
                }
                @media (max-width: $md) {
                   
                }
            }
        }
    }
    .main {
        width: 100%;
        padding-top: 50px;
        .photo {
            background: url(../img/background/Altja_jõgi_Lahemaal.jpg);
        }
        .photo1 {
            background: url(../img/background/andy_pariat_shillong_nature_photography_01.jpg);
        }
        .photo2 {
            background: url(../img/background/David-Koester-Start-In-Die-Landschaftsfotografie-VII.jpg);
        }
        .photo3 {
            background: url(../img/background/wedding-photographerbck.jpg);
        }
        .photo4 {
            background: url(../img/background/nature-1.jpg);
        }
        .fix {
            width: 85%;
            height: 500px;
            margin-left: 8%;
            margin-bottom: 3%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @media (max-width: $md) {
                height: 300px;
            }
            @media (max-width: $sm) {
                height: 200px;
            }
        }
    }
    .footer {
        display: block;
        width: 100%;
        height: 700px;
        // border: 5px solid black;
        h2 {
            text-align: center;
            font-size: $medium;
            text-transform: capitalize;
            padding: 30px;
        }
        p {
            font-size: $normal;
            max-width: 1000px;
            width: 100%;
            margin-left: calc(50% - 500px);
            align-items: center;
            font-family: $font-Noto;
        }
        form {
            display: block;
            width: 1000px;
            max-width: 1000px;
            height: 600px;
            margin-top: 20px;
            padding-top: 20px;
            margin-left: calc(50% - 500px);
            label {
                font-size: $normal;
                font-family: $font-Noto;
            }
            .name,
            .email,
            .message {
                display: block;
                width: 1000px;
                height: 50px;
                margin-left: calc(50% - 500px);
                background-color: white;
                border: 1px solid gray;
            }
            button {
                width: 1000px;
                height: 50px;
                margin-left: calc(50% - 500px);
                margin-top: 10px;
                background-color:gray;
                color: white;
                font-size: $normal;
                cursor: pointer;
                &:hover {
                    background-color: rgb(216, 196, 196);
                    color: black;
                }
            }
        }
    }
}


