// font family

$font-Noto: 'Noto Sans JP', sans-serif;
$font-sans: 'Fira Sans', sans-serif;

// font size

$tiny: 15px;
$small: 18px;
$normal: 23px;
$medium: 35px;
$large: 55px;

// Media

$sm: 400px;
$md: 720px;
$xl: 920px;
$xxl: 1400px;
